# Gather Section (20 Questions, 40 Marks)

You should have access to a file called TMDB.db. The first step to answering this set of questions will be to connect to this db file to access the data. 

![SQL Architectures](https://raw.githubusercontent.com/Explore-AI/Public-Data/master/image/TMDB_ERD.JPG)

Before we start we need to load our SQL magic commands (we only need do this once per notebook):

In [1]:
%load_ext sql

In [2]:
from sqlalchemy import create_engine, MetaData, Table

*Note: we have to prepend a Jupyter notebook cell with `%%sql` in order to run a SQL query. Place your code in the '# Your code here' lines. If you experience trouble connecting to the .db file, please ensure that you have the `pymysql` and `ipython-sql` packages installed. Also ensure that `sqlalchemy` is pinned at a version <2.*


Based on that data, answer the following questions:


### Question 11
What is the code you can use to connect to the TMBD database that is saved in the same location with the Jupyter notebook?

In [3]:
%sql sqlite:///ALX_DS_Integrated_FInal_exam_data/ALX_DS_Integrated_FInal_exam_data/Exam_data_part_1/TMDB.db

In [4]:
%%sql
select * from Movies
limit 2;

 * sqlite:///ALX_DS_Integrated_FInal_exam_data/ALX_DS_Integrated_FInal_exam_data/Exam_data_part_1/TMDB.db
Done.

[(5, 'Four Rooms', '1995-12-09 00:00:00.000000', 4000000, None, 'en', 'Four Rooms', "It's Ted the Bellhop's first night on the job...and the hotel's very unusual guests are about to place him in some outrageous predicaments. It seems that this evening's room service is serving up one unbelievable happening after another.", 22.87623, 4300000.0, 98.0, 'Released', "Twelve outrageous guests. Four scandalous requests. And one lone bellhop, in his first day on the job, who's in for the wildest New year's Eve of his life.", 6.5, 530),
 (11, 'Star Wars', '1977-05-25 00:00:00.000000', 11000000, 'http://www.starwars.com/films/star-wars-episode-iv-a-new-hope', 'en', 'Star Wars', 'Princess Leia is captured and held hostage by the evil Imperial forces in their effort to take over the galactic Empire. Venturesome Luke Skywalker a ... (14 characters truncated) ... tain Han Solo team together with the loveable robot duo R2-D2 and C-3PO to rescue the beautiful princess and restore peace and justice in the Empire.', 126.393695, 775398007.0, 121.0, 'Released', 'A long time ago in a galaxy far, far away...', 8.1, 6624)]

### Question 12
What is the primary key for the table “movies”?

In [5]:
from sqlalchemy import create_engine, MetaData, Table

In [6]:
# Reflect the languages table
languages_table = Table('languagemap', metadata, autoload_with=engine)
print(f"Foreign keys in 'languages': {[fk.parent.name for fk in languages_table.foreign_keys]}")

# Reflect the movies table
movies_table = Table('Movies', metadata, autoload_with=engine)
print(f"Foreign keys in 'movies': {[fk.parent.name for fk in movies_table.foreign_keys]}")

NameError: name 'metadata' is not defined

### Question 13
How many foreign keys does the “languagemap” table have?

### Question 14
What code would you use to set up a view of all movies that did not get released?

In [7]:
%%sql 

CREATE VIEW Not_Released AS
SELECT * FROM movies
WHERE release_status != 'Released'

 * sqlite:///ALX_DS_Integrated_FInal_exam_data/ALX_DS_Integrated_FInal_exam_data/Exam_data_part_1/TMDB.db
(sqlite3.OperationalError) view Not_Released already exists
[SQL: CREATE VIEW Not_Released AS
SELECT * FROM movies
WHERE release_status != 'Released']
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Question 15
How would you select only the title, release date, and release status columns from the view you created in the previous question?

In [8]:
%%sql 
select title, release_date, release_status
from Not_Released;

 * sqlite:///ALX_DS_Integrated_FInal_exam_data/ALX_DS_Integrated_FInal_exam_data/Exam_data_part_1/TMDB.db
Done.

[('Little Big Top', '2006-01-01 00:00:00.000000', 'Rumored'),
 ('The Helix... Loaded', '2005-01-01 00:00:00.000000', 'Rumored'),
 ('Higher Ground', '2011-08-26 00:00:00.000000', 'Post Production'),
 ('Crying with Laughter', '2009-06-01 00:00:00.000000', 'Rumored'),
 ('The Harvest (La Cosecha)', '2011-07-29 00:00:00.000000', 'Rumored'),
 ('The Naked Ape', '2006-09-16 00:00:00.000000', 'Rumored'),
 ('Brotherly Love', '2015-04-24 00:00:00.000000', 'Post Production'),
 ("Dancin' It's On", '2015-10-16 00:00:00.000000', 'Post Production')]

### Question 16
How many movies are no longer using their original titles?

In [9]:
%%sql 
select count(*) from movies
where title != original_title;

 * sqlite:///ALX_DS_Integrated_FInal_exam_data/ALX_DS_Integrated_FInal_exam_data/Exam_data_part_1/TMDB.db
Done.

[(261,)]

### Question 17
What is the most popular movie that was made after 01/01/2000 with a budget of more than $100 000 000? (Hint: Use the popularity field in the Movies table. Larger numbers are more popular.)

In [10]:
%%sql 
SELECT * 
FROM movies 
WHERE release_date > '2000-01-01' 
  AND budget > 100000000 
ORDER BY popularity DESC 
LIMIT 1;

 * sqlite:///ALX_DS_Integrated_FInal_exam_data/ALX_DS_Integrated_FInal_exam_data/Exam_data_part_1/TMDB.db
Done.

[(157336, 'Interstellar', '2014-11-05 00:00:00.000000', 165000000, 'http://www.interstellarmovie.net/', 'en', 'Interstellar', 'Interstellar chronicles the adventures of a group of explorers who make use of a newly discovered wormhole to surpass the limitations on human space travel and conquer the vast distances involved in an interstellar voyage.', 724.247784, 675120017.0, 169.0, 'Released', 'Mankind was born on Earth. It was never meant to die here.', 8.1, 10867)]

### Question 18
How many movies are there that do not have English as their original language?

In [17]:
%%sql 
SELECT COUNT(*) FROM movies
WHERE original_language != 'en';

 * sqlite:///ALX_DS_Integrated_FInal_exam_data/ALX_DS_Integrated_FInal_exam_data/Exam_data_part_1/TMDB.db
Done.

[(298,)]

### Question 19
How many movies in the database were produced by Pixar Animation Studios?

In [12]:
%%sql 
SELECT COUNT(*) AS number_of_pixar_movies
FROM Movies m
JOIN ProductionCompanyMap p on m.movie_id = p.movie_id
JOIN ProductionCompanies pc on p.production_company_id = pc.production_company_id
WHERE pc.production_company_name = 'Pixar Animation Studios';

 * sqlite:///ALX_DS_Integrated_FInal_exam_data/ALX_DS_Integrated_FInal_exam_data/Exam_data_part_1/TMDB.db
Done.

[(16,)]

### Question 20
How many movies are in the database that are both a Romance and a Comedy?

In [28]:
%%sql
SELECT COUNT(DISTINCT m.movie_id) as number_with_romance_comedy
FROM movies m
JOIN GENREMAP gm1 ON m.movie_id = gm1.movie_id
JOIN genres g1 ON gm1.genre_id = g1.genre_id
JOIN GENREMAP gm2 ON m.movie_id = gm2.movie_id
JOIN genres g2 ON gm2.genre_id = g2.genre_id
WHERE g1.genre_name = 'Romance'
  AND g2.genre_name = 'Comedy';

 * sqlite:///ALX_DS_Integrated_FInal_exam_data/ALX_DS_Integrated_FInal_exam_data/Exam_data_part_1/TMDB.db
Done.

[(484,)]

- The line JOIN genres g2 ON gm2.genre_id = g2.genre_id is added to ensure that we are checking for the second genre (`Comedy`) independently of the first genre (`Romance`). By joining the GENREMAP and genres tables twice, we can check if a movie has both genres.
- If you want to count movies that belong to both 'Romance' and 'Comedy' genres without needing to join the tables twice, you could use a subquery approach:

In [29]:
%%sql
SELECT COUNT(*) as number_with_romance_comedy
FROM (
    SELECT m.movie_id
    FROM movies m
    JOIN GENREMAP gm ON m.movie_id = gm.movie_id
    JOIN genres g ON gm.genre_id = g.genre_id
    WHERE g.genre_name IN ('Romance', 'Comedy')
    GROUP BY m.movie_id
    HAVING COUNT(DISTINCT g.genre_name) = 2
) AS subquery;

 * sqlite:///ALX_DS_Integrated_FInal_exam_data/ALX_DS_Integrated_FInal_exam_data/Exam_data_part_1/TMDB.db
Done.

[(484,)]

### Question 21
What is the most popular action movie that has some German in it? (Hint: The German word for German is Deutsch)

In [47]:
%%sql 

SELECT m.*
FROM movies m
JOIN LanguageMap lm on m.movie_id=lm.movie_id
JOIN Languages l on lm.iso_639_1=l.iso_639_1
JOIN GENREMAP gm ON m.movie_id = gm.movie_id
JOIN genres g ON gm.genre_id = g.genre_id
WHERE language_name='Deutsch' 
    AND genre_name='Action'
order by m.popularity DESC
LIMIT 1;

 * sqlite:///ALX_DS_Integrated_FInal_exam_data/ALX_DS_Integrated_FInal_exam_data/Exam_data_part_1/TMDB.db
Done.

[(271110, 'Captain America: Civil War', '2016-04-27 00:00:00.000000', 250000000, 'http://marvel.com/captainamericapremiere', 'en', 'Captain America: Civil War', 'Following the events of Age of Ultron, the collective governments of the world pass an act designed to regulate all superhuman activity. This polarizes opinion amongst the Avengers, causing two factions to side with Iron Man or Captain America, which causes an epic battle between former allies.', 198.372395, 1153304495.0, 147.0, 'Released', 'Divided We Fall', 7.1, 7241)]

### Question 22
In how many movies did Tom Cruise portray the character Ethan Hunt?

In [52]:
%%sql 
SELECT COUNT(DISTINCT m.movie_id) as number_of_tom_as_Ethan
FROM movies m
JOIN Casts c ON m.movie_id=c.movie_id
JOIN Actors a ON c.actor_id=a.actor_id
WHERE actor_name='Tom Cruise'
    AND characters='Ethan Hunt';

 * sqlite:///ALX_DS_Integrated_FInal_exam_data/ALX_DS_Integrated_FInal_exam_data/Exam_data_part_1/TMDB.db
Done.

[(5,)]

### Question 23 
How many times was the actress Cate Blanchett nominated for an Oscar?

In [70]:
%%sql
SELECT COUNT(*) AS number_of_nominations
FROM oscars
WHERE name = 'Cate Blanchett';

 * sqlite:///ALX_DS_Integrated_FInal_exam_data/ALX_DS_Integrated_FInal_exam_data/Exam_data_part_1/TMDB.db
Done.

[(7,)]

### Question 24
How many movies contain at least one of the official South African Languages, Afrikaans or Zulu?

In [110]:
%%sql 
SELECT COUNT(DISTINCT m.movie_id) as number_with_sa
FROM movies m
JOIN LanguageMap lm ON m.movie_id=lm.movie_id
JOIN languages l ON lm.iso_639_1=l.iso_639_1
WHERE l.language_name IN ('Afrikaans', 'isiZulu');

 * sqlite:///ALX_DS_Integrated_FInal_exam_data/ALX_DS_Integrated_FInal_exam_data/Exam_data_part_1/TMDB.db
Done.

[(8,)]

### Question 25
Which of the movies mentioned above is the most popular?

In [111]:
%%sql 
SELECT MAX( m.popularity), m.title as most_popular_w_sa
FROM movies m
JOIN LanguageMap lm ON m.movie_id=lm.movie_id
JOIN languages l ON lm.iso_639_1=l.iso_639_1
WHERE l.language_name IN ('Afrikaans', 'isiZulu')
limit 1;

 * sqlite:///ALX_DS_Integrated_FInal_exam_data/ALX_DS_Integrated_FInal_exam_data/Exam_data_part_1/TMDB.db
Done.

[(63.13678, 'District 9')]

In [84]:
%%sql 
SELECT *
FROM movies m
JOIN LanguageMap lm ON m.movie_id=lm.movie_id
JOIN languages l ON lm.iso_639_1=l.iso_639_1
WHERE l.language_name IN ('Afrikaans', 'Zulu')
ORDER BY m.popularity DESC
limit 1;

 * sqlite:///ALX_DS_Integrated_FInal_exam_data/ALX_DS_Integrated_FInal_exam_data/Exam_data_part_1/TMDB.db
Done.

[(17654, 'District 9', '2009-08-05 00:00:00.000000', 30000000, 'http://www.d-9.com/', 'en', 'District 9', "Aliens land in South Africa and, with their ship totally disabled,  have no way home. Years later, after living in a slum and wearing out their welcome the 'Non-Humans' are being moved to a new tent city overseen by Multi-National United (MNU).", 63.13678, 210819611.0, 112.0, 'Released', 'You are not welcome here.', 7.3, 3382, 17654, 'af', 'af', 'Afrikaans')]

### Question 26
What would be the code to change the name of the language with the ‘zh’ iso code in the “language” table to ‘Chinese’?

In [88]:
%%sql 
UPDATE Languages
SET language_name = 'Chinese'
WHERE iso_639_1 = 'zh';

 * sqlite:///ALX_DS_Integrated_FInal_exam_data/ALX_DS_Integrated_FInal_exam_data/Exam_data_part_1/TMDB.db
1 rows affected.

[]

### Question 27
What would be the code to insert a new genre called ‘Sport’ with an id of 10?

In [95]:
%%sql 
INSERT INTO genres(genre_name,genre_id)
VALUES('sport', 10);

 * sqlite:///ALX_DS_Integrated_FInal_exam_data/ALX_DS_Integrated_FInal_exam_data/Exam_data_part_1/TMDB.db
1 rows affected.

[]

### Question 28 
You have just watched The Flintstones movie and did not find it very funny. What code would delete the entry that links The Flintstones to the Comedy genre?

In [98]:
%%sql
DELETE FROM genremap WHERE genre_id = 35 and movie_id = 888;

 * sqlite:///ALX_DS_Integrated_FInal_exam_data/ALX_DS_Integrated_FInal_exam_data/Exam_data_part_1/TMDB.db
1 rows affected.

[]

### Question 29
What code will give the 10 most recently released movies in the database?

In [100]:
%%sql 
SELECT *
FROM movies
ORDER BY release_date DESC LIMIT 10

 * sqlite:///ALX_DS_Integrated_FInal_exam_data/ALX_DS_Integrated_FInal_exam_data/Exam_data_part_1/TMDB.db
Done.

[(426469, 'Growing Up Smith', '2017-02-03 00:00:00.000000', 0, 'http://www.growingupsmithmovie.com', 'en', 'Growing Up Smith', '"In 1979, an Indian family moves to America with hopes of living the American Dream. While their 10-year-old boy Smith falls head-over-heels for the girl next door, his desire to become a ""good old boy"" propels him further away from his family\'s ideals than ever before."', 0.71087, 0.0, 102.0, 'Released', 'ItÆs better to stand out than to fit in.', 7.4, 7),
 (325373, 'Two Lovers and a Bear', '2016-10-02 00:00:00.000000', 0, None, 'en', 'Two Lovers and a Bear', 'Set in a small town near the North Pole where roads lead to nowhere, the story follows Roman and Lucy, two burning souls who come together to make a leap for life and inner peace.', 3.139294, 0.0, 96.0, 'Released', None, 6.8, 27),
 (374461, 'Mr. Church', '2016-09-16 00:00:00.000000', 8000000, None, 'en', 'Mr. Church', 'A unique friendship develops when a little girl and her dying mother inherit a cook - Mr. Church. What begins as an arrangement that should only last six months, instead spans fifteen years.', 7.828459, 0.0, 104.0, 'Released', 'He was the one person she could always count on.', 7.0, 129),
 (339408, 'The Birth of a Nation', '2016-09-09 00:00:00.000000', 8500000, 'http://www.foxsearchlight.com/thebirthofanation/', 'en', 'The Birth of a Nation', 'Nat Turner, a former slave in America, leads a liberation movement in 1831 to free African-Americans in Virgina that results in a violent retaliation from whites.', 9.452808, 15861566.0, 120.0, 'Released', 'The Untold Story of Nat Turner', 6.5, 178),
 (385736, 'Kicks', '2016-09-09 00:00:00.000000', 0, 'http://www.focusfeatures.com/kicks', 'en', 'Kicks', 'When his hard-earned kicks get snatched by a local hood, fifteen-year old Brandon and his two best friends go on an ill-advised mission across the Bay Area to retrieve the stolen sneakers.', 3.467923, 0.0, 80.0, 'Released', "They aren't just shoes", 7.5, 18),
 (332285, 'Antibirth', '2016-09-02 00:00:00.000000', 35000000, None, 'en', 'Antibirth', 'In a desolate community full of drug-addled Marines and rumors of kidnapping, a wild-eyed stoner named Lou wakes up after a crazy night of partying with symptoms of a strange illness and recurring visions. As she struggles to get a grip on reality, the stories of conspiracy spread.', 3.674294, 0.0, 94.0, 'Released', None, 4.8, 40),
 (184341, 'Hands of Stone', '2016-08-26 00:00:00.000000', 20000000, None, 'en', 'Hands of Stone', "The legendary Roberto Duran and his equally legendary trainer Ray Arcel change each other's lives.", 7.444189, 0.0, 105.0, 'Released', 'No mßs. No surrender.', 6.1, 109),
 (271969, 'Ben-Hur', '2016-08-17 00:00:00.000000', 100000000, 'http://www.benhurmovie.com/', 'en', 'Ben-Hur', 'A falsely accused nobleman survives years of slavery to take vengeance on his best friend who betrayed him.', 29.608322, 94061311.0, 125.0, 'Released', 'First to finish. Last to die.', 5.3, 621),
 (294272, "Pete's Dragon", '2016-08-10 00:00:00.000000', 65000000, 'http://movies.disney.com/petes-dragon-2016', 'en', "Pete's Dragon", 'Pete is a mysterious 10-year-old with no family and no home who claims to live in the woods with a giant, green dragon named Elliott. With the help o ... (42 characters truncated) ... r Jack owns the local lumber mill, forest ranger Grace sets out to determine where Pete came from, where he belongs, and the truth about this dragon.', 31.974359, 143695338.0, 102.0, 'Released', 'Some secrets are too big to keep.', 6.2, 679),
 (297761, 'Suicide Squad', '2016-08-02 00:00:00.000000', 175000000, 'http://www.suicidesquad.com/', 'en', 'Suicide Squad', 'From DC Comics comes the Suicide Squad, an antihero team of incarcerated supervillains who act as deniable assets for the United States government, undertaking high-risk black ops missions in exchange for commuted prison sentences.', 90.23792, 745000000.0, 123.0, 'Released', 'Worst Heroes Ever', 5.9, 7458)]

In [107]:
%%sql
SELECT TOP(10) *
FROM movies
ORDER BY release_date DESC;

 * sqlite:///ALX_DS_Integrated_FInal_exam_data/ALX_DS_Integrated_FInal_exam_data/Exam_data_part_1/TMDB.db
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: SELECT TOP(10) *
FROM movies
ORDER BY release_date DESC;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Question 30
What code would you use to add a column to the language table that could be used for the English names of the different languages?

In [108]:
%%sql 
ALTER TABLE languages
ADD language_english_name
VARCHAR(50);

 * sqlite:///ALX_DS_Integrated_FInal_exam_data/ALX_DS_Integrated_FInal_exam_data/Exam_data_part_1/TMDB.db
Done.

[]